{% extends 'control_base.html' %}
<body>
    {% block content %}
    {% if thisisyou %}
        <p>You can't delete yourself.</p>
        <a href="{{ view.get_success_url }}" class="btn btn-info m-2">Back</a>
    {% else %}
        <form  method="post">
        {% csrf_token %}
        Are you sure you want to delete {{ sub }}?<br />
        <button type="submit" class="save btn btn-success m-2">Delete</button>
        <a href="{{ view.get_success_url }}" class="btn btn-warning m-2">Cancel</a>
        </form>
    {% endif %}
    {% endblock %}
</body>