{% extends 'control_base.html' %}
<body>
    {% block content %}
    <div id="current-data-container">
        <div class="row">
            <form method="POST" id="form">
                {% csrf_token %}
                {% if form.errors %}
                    {% for err in form.non_field_errors %}
                        <p class="alert alert-danger">{{err}}</p>
                    {% endfor %}
                {% endif %}
                <table>
                    {% for field in form %}
                        <tr>
                        <td>{{ field.label_tag }}</td>
                        {% if 'object' in field %}
                            <td>{{ field.item }}</td>
                        {% else %}
                            <td>{{ field }}</td>
                        {% endif %}
                        </tr>
            
                    {% endfor %}
                </table>
            </form>
        </div>
        <div class="row" id="results">
            {% if object_list %}
                {% for o in object_list %}
                    <table id="current-data-table" class="table table-striped table-hover">
                        <tr>
                            {% for h in o.tbl.0.headers %}
                                <th>{{ h }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>  
                        {% for d in o.tbl %}
                            <tr>
                                {% for c in d.details %}
                                    <td>{{ c }}</td>
                                {% endfor %}
                                <td>
                                    {% if o.edit %}
                                        <a href="{% url o.edit d.details.0 %}" class="btn btn-warning m-2">Edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if o.add %}
                        <a href="{% url o.add %}" class="btn btn-success m-2">Add</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#form").submit(loadData())     
        });
        function loadData(){
            var frm = $('form');
            $.ajax({
                type: "POST",
                url: frm.attr("action"),
                data: frm.serialize(),
                success: function(data) {
                    $("#document").html(data);
                }
            });
            return;
        }
    </script>
    {% endblock %}
</body>
